import battlenet as bn

BNET_KEY = ""
DISCORD_TOKEN = ""

BNET_REGION = "eu"
BNET_REALM = "Auchindoun"
BNET_SCOPE_WOW_PROFILE = "wow.profile"

BOT_TRIGGER = "!"

BOT_NEWS_CHECK_REALM = "Auchindoun"
BOT_NEWS_CHECK_GUILD = "Unstable"
BOT_NEWS_CHECK_CHANNEL = "211847648502611968"

BOT_REALM_STATUS_REALM = "Auchindoun"
BOT_REALM_STATUS_CHANNEL = "211847648502611968"